<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="CustomerBean" class="dam.tan.beans.Customer">
		<property name="lists">
			<bean class="org.springframework.beans.factory.config.ListFactoryBean">
				<property name="targetListClass">
					<value>java.util.ArrayList</value>
				</property>
				<property name="sourceList">
					<list>
						<bean class="dam.tan.beans.Person">
							<property name="name" value="dam tan 1"/>
							<property name="address" value="thanh hoa 1"/>
							<property name="age" value="26"/>
						</bean>
						
						<bean class="dam.tan.beans.Person">
							<property name="name" value="dam tan 2"/>
							<property name="address" value="thanh hoa 2"/>
							<property name="age" value="26"/>
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>
</beans>