<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="outputHelper" class="dam.tan.helper.OutputHelper">
		<constructor-arg>
			<ref bean="CsvOutputGenerator" /> <!-- tro toi id cua thang bean duoc dinh nghia -->
		</constructor-arg>
	</bean>
</beans>