<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="CustomerServiceSingleton" class="dam.tan.bean.CustomerService"/>
	<!-- Neu scope không được chỉ rõ trong file cấu hình, thì mặc định nó là singleton -->
</beans>